#inf_org{
    position: relative;
    margin: -28px 0 39px 0;
}
#inf_org1{
    position: relative;
    margin: -28px 0 65px 0;
}
#name_olympiad1{
	color: #0A3C57;
	font-size: 20pt;
}
#digits11{
	background: none; 
	border-style: none; 
	/*font-family: 'Palatino Linotype'; */
	font-size:16px;
	color: white;
	/*margin-left: 20px;*/
}
#organizator_info{
	color: #0A3C57;
	font-size: 20pt;
	position: absolute;
	right: 0;
}
#lk_fio1{
	color: #0A3C57;
	font-size: 18pt;
	margin: 15px 0 0 15px;
}
#lk_schoolboy{
	background: #0066b3;
	Color: white;
	font-size: 16pt;
	padding: 0 10px 0 40px;
	border-radius: 0 4px 4px 0;
}
#lk_schoolboy1{
	background: #0066b3;
	Color: white;
	font-size: 16pt;
	padding: 0 10px 0 81px;
	border-radius: 0 4px 4px 0;
}
#lk_phone, #lk_email{
	padding-top: 15px;
}

#phone_lk, #email_lk{
	color:#0A3C57;
	font-size: 16pt;
	margin: 0 0 0 15px;
}
#table_arhiv{
border-collapse: collapse; 
color: #0A3C57;
}
#table_arhiv_thead{
	background: #0A3C57; 
color : white; 
background: linear-gradient(#0066b3, #0066b3);
}

/*********
стили для столбцов таблицы итогов олимпиад */
.table_arhiv_date{
	width: 15%;
	padding-left: 10px;
}
.table_arhiv_na{
	width: 10%;
	height: 35px;
	padding-left: 5px;
}
.table_arhiv_na_search{
	width: 40%;
}
.table_arhiv_subj{
	width: 4%;
	padding-left: 5px;
}
.table_arhiv_td_shapka{
	width: 5%;
}


/*******
стиль для строк в таблице итогов олимпиад */
.arh_str{
	height: 50px;
	border-bottom: 5px solid white;
	border-top: 5px solid white;
}
/***************/

.table_arhiv_td1{
	background: #91CEF1;
	height: 50px;
	padding-left: 5px;
}
.table_arhiv_td2{
	width: 150px;
	padding-left: 5px;
}
.table_arhiv_td3{
	text-decoration: underline;
	background: #91CEF1;
	padding-right: 1%;
}
.table_arhiv_td4{
	text-align: left;
	background: #91CEF1;
}